.container {
  width: 80%;
  margin: 0 auto;
  margin-top: 20;

}

.search-bar {
  width: 100%;
  padding: 8px;
  margin-top: 10px;
  margin-bottom: 16px;
  font-size: 16px;
  border-radius: 5px;
}

.gender-filter {
  padding: 8px;
  font-size: 16px;
  margin-bottom: 16px;
}

.user-list {
  list-style: none;
  padding: 0;
}

.user-item {
  display: flex;
  align-items: center;
  border: 1px solid #ddd;
  margin-bottom: 8px;
  padding: 16px;
  border-radius: 8px;
}


.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 50px;
}


.pagination-button {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.active {
  background-color: #45a049;
}

.pagination-button:hover {
  background-color: #45a049;
}

.pagination-text {
  margin: 0 10px;
  font-size: 16px;
  font-weight: bold;
}

.pagination-button:disabled {
  background-color: #ccc;
  color: #666;
  cursor: not-allowed;
}


.phone-icon {
  display: flex;
  align-items: center;
  color: #333;
}

.phone-icon svg {
  margin-right: 4px;
}

.phone-icon:hover {
  color: green;
}

.gender-icon {
  display: inline-block;
  margin-right: 4px;
}

.email-icon {
  display: flex;
  align-items: center;
  color: #333;
}

.email-icon:hover {
  color: green;
}

.email-icon svg {
  margin-right: 4px;
}

.user-thumbnail-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-thumbnail {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-bottom: 16px;
  margin-right: 40px;
}

.user-details {
  text-align: left;

}

.country-icon {
  display: flex;
  align-items: center;
  margin-top: 8px;
}

.country-flag {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}


.user-thumbnail-container {
  position: relative;
}


.location-icon {

  position: absolute;
  top: 50%;
  left: 5%;
  transform: translate(-50%, -50%);
  cursor: pointer;

  &:hover {
    color: #27ae60;
  }
}


.location-icon-container {
  position: relative;
  display: inline-block;
}

.view-on-maps-text {
  position: relative;
  top: 0;
  left: 20px;
  font-size: 12px;
  color: #333;
}

.google-map-link {
  margin-top: 16px;
  text-align: center;
}

.google-map-link a {
  display: inline-block;
  padding: 10px 20px;
  background-color: #3498db;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.google-map-link a:hover {
  background-color: #27ae60;
}

.footer {
  text-align: center;
  padding: 10px;
  background-color: #f0f0f0;
  position: fixed;
  bottom: 0;
  width: 100%;
  left: 0;
}